## MAC OS
.DS_Store
.AppleD*

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
.sass-cache
coverage
rdoc
pkg

## PROJECT::SPECIFIC
*.gem
.rvmrc
.bundle

views/quotes/*
public/images/clients/*
