- @page_title = "Brown Web Design Sample Quote"
=render "partials/calculator", :locals => {:default_unit_price => 75}
.quote
  =render "partials/quote_header"
  .spacer
    %p Some Description here if we want
  =line_item("Web Design", "Place Description here...", 5)
  =line_item("Web Design", "Place Description here...", "5 hrs.")
  =line_item("Web Design", "Place Description here...", "5h", :spacer => true, :subtotal => true)

  .spacer
    %p Phase II blah, blah...
  =line_item("Web Design", "Place Description here...", 5)
  =line_item("Web Design", "Place Description here...", 5)
  =line_item("Web Design", "Place Description here...", 5)
  =line_item("Web Design", "Place Description here...", 5, :subtotal => true, :spacer => true)
  .row
    .span
      %h3 Option Number One
      %p Some Description
  .row
    .item Web Design
    .description 
      %ul
        %li Item 1
        %li Item 2
        %li Item 3
    .units 5hrs
    .unit_price 
    .total total
  .spacer

  .row
    .span
      %h3 Option Number Two
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare pulvinar consectetur. Nulla interdum enim vel nulla tristique et facilisis nulla dapibus. Maecenas fringilla luctus urna euismod pharetra. Maecenas feugiat pellentesque nunc eget facilisis. Mauris auctor nisl a nunc scelerisque ut scelerisque turpis venenatis. Proin et nisi est. Aenean dignissim imperdiet orci a mattis. Donec et ullamcorper turpis. Proin in erat ligula.
      %p Morbi purus libero, luctus congue aliquet tincidunt, laoreet vitae erat. Proin vitae risus et eros volutpat facilisis volutpat ut purus. Nullam felis velit, scelerisque sed lobortis quis, adipiscing ut risus. Praesent urna elit, blandit vel sollicitudin et, consequat vitae arcu. Donec rutrum est vel magna pretium tempus. Nulla feugiat, arcu quis scelerisque posuere, nisi mauris pretium orci, eu vulputate tortor leo vel nulla. Pellentesque adipiscing mi in tortor malesuada ullamcorper. Duis vel metus vitae tellus pellentesque ultricies. Nullam consectetur elementum nisi sit amet adipiscing. Aliquam hendrerit semper facilisis.
  .row
    .item Web Design
    .description 
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare pulvinar consectetur. Nulla interdum enim vel nulla tristique et facilisis nulla dapibus. Maecenas fringilla luctus urna euismod pharetra. Maecenas feugiat pellentesque nunc eget facilisis. Mauris auctor nisl a nunc scelerisque ut scelerisque turpis venenatis. Proin et nisi est. Aenean dignissim imperdiet orci a mattis. Donec et ullamcorper turpis. Proin in erat ligula.
    .units 12hrs
    .unit_price 
    .total total
  .spacer
  =render "partials/total"


