@import "partials/config";
@import "compass";
@import "blueprint";

body {
  @include blueprint-typography(true);
  background: #ebebeb;
  //font-size: 90%;
}

#container {
  width: 95%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  max-width: 800px;
}

.inner {
  padding: 10px;
}

header {
  //border-bottom: 2px solid #ccc;
  @include clearfix;
  margin-bottom: 15px;
  .logo {
    float: left;
    width: 50%;
  }
  .proposal {
    float: right;
    width: 50%;
    text-align: right;
    img {
      margin: 5px 5px 0 0;
    }
    .info {
      margin-right: 15px;
      p {
        margin:0;
        padding: 0;
      }
    }
  }
}

// Quoting Stuff

.quote {
  width: 100%;
  .header_row {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    @include clearfix;
  }
  .row, .header_row {
    width: 100%;
    clear: both;
    .item, .description, .units, .unit_price, .total {
      float: left;
      overflow: hidden;
    }
    .item {
      clear: both;
      width: 15%;
    }
    .description {
      width: 40%;
    }
    .units {
      width: 15%;
    }
    .unit_price {
      width: 15%;
    }
    .total {
      width: 15%;
    }
  }
  .row {
    @include clearfix;
    vertical-align: top;
    border-bottom: 1px dotted #ccc;
    padding-top: 15px;
    width: 100%;
    .span {
      width: 50%;
      clear: both;
      border-bottom: none;
    }
  }
  .units, .unit_price, .total {
    text-align: right;
  }
  .spacer {
    clear: both;
    border: none;
    padding: 15px 0 0 0;
  }

  .grand_total {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    border-bottom: none;
    text-align: right;
    font-size: 120%;
    .grand_total_text {
      float: left;
      text-align: right;
      width: 50%;
    }
    .grand_total_hour_amount {
      float: left;
      text-align: right;
      width: 20%;
    }
    .grand_total_amount {
      //font-weight: bold;
      float: left;
      text-align: right;
      width: 30%;
    }
  }
  .subtotal {
    clear: both;
    .subtotal_text{
      float: left;
      font-weight: bold;
      width: 80%;
      text-align: right;
    }
    .subtotal_amount {
      font-weight: bold;
      float: left;
      text-align: right;
      width: 20%;
    }
  }

}

img.img_right {
  float: right;
  margin: 5px 5px 10px 10px;
  border: 1px solid #ccc;
  @include single-box-shadow(#000, 2px, 2px, 10px);
  padding: 5px;
  background: #fff;
  width: 200px;
}


@media screen and (max-width: 500px) { 
  .quote {
    .row {
      .span {
        width: 100%;
      }
    }
  }
  h1, h2, h3, h4, h5 {
    text-align: center;
  }
  .quote {
    h1, h2, h3, h4, h5 {
    text-align: left;
    }
  }
  header {
    //border-bottom: 2px solid #ccc;
    .logo {
      float: none;
      width: 100%;
      text-align: center;
    }
    .proposal {
      float: none;
      width: 100%;
      text-align: center;
      img {
        margin: 5px 5px 0 0;
      }
      .info {
        margin-right: 15px;
        p {
          margin:0;
          padding: 0;
        }
      }
    }
  }
  img.img_right {
    float: none;
    margin: 2% auto;
    border: 1px solid #ccc;
    //@include single-box-shadow(#000, 2px, 2px, 10px);
    padding: 2%;
    background: #fff;
    display: block;
    width: 90%;
    max-width: 450px;
  }

}


